{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- BEGIN content -->
<div id="content" class="app-content" style="padding: 1rem !important;">
    <div class="container">
        <div class="row justify-content-center">
            <!-- BEGIN col-xl-10 -->
            <div class="col-xl-10">
                <div class="row">
                    <!-- BEGIN col-xl-12 -->
                    <div class="col-xl-12 mb-6">
                        <div class="d-flex h-30px form-control form-control-lg bg-white bg-opacity-25 mb-1 fs-12px p-0 w-200px  text-white align-items-center justify-content-center">
                            <!-- Database Connection -->
                            데이터베이스 연결
                        </div>
                        <div class="form-control form-control-lg bg-white bg-opacity-10 fs-12px">
                            <form method="post" onsubmit="return false;">
                            {% csrf_token %}
                            <div class="row justify-content-center">
                                <!-- BEGIN col-xl-9 -->
                                <div class="col-xl-9">
                                    <span>Server</span> 
                                    {% comment %} <span>서버 정보</span> {% endcomment %}
                                    <div class="mb-4 mt-5px settingConnection h-auto">
                                        <div class="row justify-content-center">
                                        <!-- BEGIN col-xl-10 -->
                                            <div class="col-xl-5 mb-4 d-flex">
                                                <span>Database : 
                                                {% comment %} <span>데이터 베이스 : {% endcomment %}
                                                    <select class="w-200px h-23px text-left settinginput" name="db" >
                                                        <option class="setting-select">Teradata</option>
                                                        <option class="setting-select">Postgres</option>
                                                        <option class="setting-select">ETC1</option>
                                                        <option class="setting-select">ETC2</option>
                                                        <option class="setting-select">ETC3</option>
                                                    </select>
                                                </span>
                                            </div>
                                            <!-- BEGIN col-xl-5 -->
                                            <div class="col-xl-5 mb-4">
                                                <span class="ps-3px">DB Name</span> : <input class="w-200px settinginput" name="name" type="text" autocomplete='off'> 
                                                {% comment %} <span class="ps-8px">DB 이름</span> : <input class="w-200px settinginput" name="name" type="text" autocomplete='off'> {% endcomment %}
                                            </div>
                                        <!-- END col-xl-5 -->
                                        <!-- END col-xl-10 -->
                                        <!-- BEGIN col-xl-5 -->
                                            <div class="col-xl-5 ">
                                                <span class="ps-30px">Host</span> : <input class="w-200px settinginput" id="host" name="host"  type="text" autocomplete='off'>
                                                {% comment %} <span class="ps-10px">호스트 번호</span> : <input class="w-200px settinginput" id="host" name="host" value="" type="text" autocomplete='off'> {% endcomment %}
                                                <span class="ps-100px" id="heplerHost" style ="display:none;">숫자를 제대로 입력해주세요.</span> 
                                            </div>
                                        <!-- END col-xl-5 -->
                                        <!-- BEGIN col-xl-5 -->
                                            <div class="col-xl-5">
                                                <span class="ps-32px">Port</span> : <input class="w-200px settinginput" id="port" name="port"  type="text" autocomplete='off'>
                                                {% comment %} <span class="ps-5px">포트 번호</span> : <input class="w-200px settinginput check" id="port" name="port" value="" type="text" autocomplete='off'> {% endcomment %}
                                                <span class="ps-90px" id="heplerPort" style ="display:none;">숫자를 제대로 입력해주세요.</span> 
                                            </div>
                                        <!-- END col-xl-5 -->
                                        </div>
                                    </div>
                                </div>
                                <!-- END col-xl-9 -->

                                <!-- BEGIN col-xl-9 -->
                                <div class="col-xl-9">
                                    <span>Users</span>
                                    {% comment %} <span>사용자 정보</span> {% endcomment %}
                                    <div class="mb-4 mt-5px settingConnection h-auto">
                                        <div class="row justify-content-center">
                                        <!-- BEGIN col-xl-5 -->
                                            <div class="col-xl-5">
                                                <span class="ps-45px">ID</span> : <input class="w-200px settinginput" name="id" type="text" autocomplete='off'>
                                                {% comment %} <span class="ps-45px">아이디</span> : <input class="w-200px settinginput" name="id" type="text" autocomplete='off'> {% endcomment %}
                                            </div>
                                        <!-- END col-xl-5 -->
                                        <!-- BEGIN col-xl-5 -->
                                            <div class="col-xl-5">
                                                <span>Password</span> : <input class="w-200px settinginput" name="pwd"  type="password">
                                                {% comment %} <span>비밀번호</span> : <input class="w-200px settinginput" name="pwd"  type="password"> {% endcomment %}
                                            </div>
                                        <!-- END col-xl-5 -->
                                        </div>
                                    </div>
                                </div>
                                <!-- END col-xl-9 -->
                            </div>
                            <!-- BEGIN col-xl-12 -->
                            <div class="col-xl-12">
                                <div class="text-end">
                                    <button class="settingBtn w-130px" onclick=TestConnection(this.form) >
                                        <i class="fas fa-lg fa-fw me-1 fa-plug"></i>
                                        <span>Test Connection</span>
                                        {% comment %} <span>테스트 연결</span> {% endcomment %}
                                    </button>
                                    <button id="savebtn" class="w-130px" onclick=DBCON(this.form) disabled>
                                        <i class="fas fa-lg fa-fw me-1 fa-save "></i>
                                        <span>Save</span>
                                        {% comment %} <span>저장</span> {% endcomment %}
                                    </button>
                                </div>
                            </div>
                        </form>
                            <!-- END col-xl-10 -->
                        </div>
                    </div>
                    <!-- END col-xl-12 -->

                    <!-- END col-xl-12 -->
                    <div class="col-xl-12">
                        <div class="d-flex h-30px form-control form-control-lg bg-white bg-opacity-25 mb-1 fs-12px p-0 w-200px  text-white align-items-center justify-content-center">
                            <!-- Database Connected -->
                            연결된 데이터베이스
                        </div>
                        <div class="form-control form-control-lg bg-white bg-opacity-10 h-448px">
                            <!-- BEGIN setting-table -->
                            <table id="DbConnectedTable" class="table table-bordered DatabaseConnectedTable fs-12px dataFabricTable-sm">
                                <thead>
                                    <tr class="table-dark">
                                        <th>NO.</th>
                                        <th>DB Name</th>
                                        <th>Database</th>
                                        <th>Host</th>
                                        <th>Port</th>
                                        <th>Username</th>
                                        <th>Modify</th>
                                        {% comment %} <th>번호</th>
                                        <th>DB 이름</th>
                                        <th>DB 타입</th>
                                        <th>호스트 번호</th>
                                        <th>포트 번호</th>
                                        <th>사용자 이름</th>
                                        <th>수정</th> {% endcomment %}
                                    </tr>
                                </thead>
                                <tbody id = 'connetTalbe'>
                                {% if connect_DBList %}
                                    {% for connectList in connect_DBList %}
                                    <tr>
                                        <td>{{ connectList.index }}</td>
                                        <td>{{ connectList.db_name }}</td>
                                        <td>{{ connectList.db_type }}</td>
                                        <td>{{ connectList.host }}</td>
                                        <td>{{ connectList.port }}</td>
                                        <td>{{ connectList.db_user }}</td>
                                        <td class="text-center"><i class="bi bi-gear database-table-icon" onclick="db_update('{{ connectList.db_name }}', '{{ connectList.host }}', '{{ connectList.port }}')"></i></td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                            <!-- END setting-table -->
                        </div>
                    </div>
                    <!-- END col-xl-12 -->
                </div>
            </div>
            <!-- END col-xl-12 -->
        </div>
    </div>
</div>
<!-- END content -->
<script>
    
    function DBCON(form){
        var db = form.db.value;
        var name = form.name.value;
        var host = form.host.value;
        var port = form.port.value;
        var id = form.id.value;
        var pwd = form.pwd.value;

        if(!name){
            Swal.fire({
            icon: "error", // Alert 타입
            title: '<b style="color:red;">DB 이름</b> 에러', // Alert 제목
            text:'DB이름을 입력해주세요', // Alert 내용
            });
            return false;
        }else if(!host){
            Swal.fire({
            icon: "error", // Alert 타입
            title: '<b style="color:red;">호스트</b> 에러', // Alert 제목
            text:'호스트 번호을 입력해주세요', // Alert 내용
            });
            return false;
        }else if(!port){
            Swal.fire({
            icon: "error", // Alert 타입
            title: '<b style="color:red;">포트</b> 에러', // Alert 제목
            text:'포트 번호을 입력해주세요', // Alert 내용
            });
            return false;
        }else if(!id){
            Swal.fire({
            icon: "error", // Alert 타입
            title: '<b style="color:red;">사용자 아이디</b> 에러', // Alert 제목
            text:'아이디을 입력해주세요', // Alert 내용
            });
            return false;
        }else if(!pwd){
            Swal.fire({
            icon: "error", // Alert 타입
            title: '<b style="color:red;">비밀번호</b> 에러', // Alert 제목
            text:'비밀번호을 입력해주세요', // Alert 내용
            });
            return false;
        };
        
        var params = {
            'user' : localStorage.getItem('sid'),
            'db' : db,
            'name' : name,
            'host' : host,
            'port' : port,
            'id' : id,
            'pwd' : pwd,
        };
        const equals = (a, b) => a.length === b.length && a.every((v, i) => v === b[i]); 

        var comparison_list = Object.values(params);
        comparison_list.pop();
        comparison_list.sort();

        for(let i = 0; i < {{connect_DBList|safe}}.length; i++){
            var check_list = Object.values({{connect_DBList|safe}}[i]);
            check_list.splice(0, 2);
            check_list.pop();
            
            check_list.sort();
            if(equals(comparison_list, check_list)){
                Swal.fire({
                icon: "error", // Alert 타입
                title: '<b style="color:red;">Save</b> 에러', // Alert 제목
                text:'동일한 정보가 이미 저장되어있습니다.', // Alert 내용
                });
                return false;
            }
        }
        $.ajax({
                type : "POST",
                url : "/api/setting/setting_api/",
                data : params,
                beforeSend: function() {
                    $('html').css("cursor","wait");
                },
                complete: function() {
                    $('html').css("cursor","auto");
                },
                success : function(res){
                    Swal.fire({
                    icon: "success", // Alert 타입
                    title: '저장완료', // Alert 제목
                    text:'성공적으로 저장 되었습니다.', // Alert 내용
                });
                    location.reload();

                },
                error : function(XMLHttpRequest, textStatus, errorThrown){
                    Swal.fire({
                    icon: "error", // Alert 타입
                    title: '<b style="color:red;">Connection</b> error', // Alert 제목
                    text:'올바른 연결정보를 입력하세요', // Alert 내용
                });
                }
            });
    }
    
    //host,port키보드이벤트
    $(document).ready(function(){
        var host = document.getElementById("host");
        var port = document.getElementById("port");
        var heplerHost = document.getElementById("heplerHost");
        var heplerPort = document.getElementById("heplerPort");
        var regHost = /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/;
        var regPort = /^([0-9][0-9][0-9][0-9])$/;

        var host_bool = 0;
        var port_bool = 0;

        host.addEventListener("change", function(num){ 
            if (host_bool == 0){
                if(!regHost.test(host.value)){
                    host.style.color = "red";
                    heplerHost.style.display = "inline";
                    host.focus();
                }else{
                    host.style.color = "white";
                    heplerHost.style.display = "none";
                };
            }
            host_bool = host_bool + 1;
        });
        host.addEventListener("keyup", function(num){ 
            if (host_bool > 0){
                if(!regHost.test(host.value)){
                    host.style.color = "red";
                    heplerHost.style.display = "inline";
                    host.focus();
                    }else{
                        host.style.color = "white";
                        heplerHost.style.display = "none";
                    };
                    return false;
                }
        });

        //port red
        port.addEventListener("change", function(num){ 
            if (port_bool == 0){
                if(!regPort.test(port.value)){
                    port.style.color = "red";
                    heplerPort.style.display = "inline";
                    port.focus();
                }else{
                    port.value;
                    port.style.color = "white";
                    heplerPort.style.display = "none";
                };
            }
            port_bool = port_bool + 1;
        });
        port.addEventListener("keyup", function(num){ 
            if (port_bool > 0){
                if(!regPort.test(port.value)){
                    port.style.color = "red";
                    heplerPort.style.display = "inline";
                    port.focus();
                }else{
                    port.value;
                    port.style.color = "white";
                    heplerPort.style.display = "none";
                };
                return false;
            }
        });
    });
    
    

    function TestConnection(form){
        var db = form.db.value;
        var name = form.name.value;
        var host = form.host.value;
        var port = form.port.value;
        var id = form.id.value;
        var pwd = form.pwd.value;
        let target = document.getElementById('savebtn');

        //host,port유효성검사
        var regHost = /^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$/;
        var regPort = /^([0-9][0-9][0-9][0-9][0-9]?)$/;

        if(!name){
            Swal.fire({
            icon: "error", // Alert 타입
            title: '<b style="color:red;">DB 이름</b> 에러', // Alert 제목
            text:'DB이름을 입력해주세요', // Alert 내용
            });
            return false;
        }else if(!host){
            Swal.fire({
            icon: "error", // Alert 타입
            title: '<b style="color:red;">호스트</b> 에러', // Alert 제목
            text:'호스트 번호을 입력해주세요', // Alert 내용
            });
            return false;
        }else if(!regHost.test(host)){
            Swal.fire({
            icon: "error", // Alert 타입
            title: '<b style="color:red;">호스트번호</b> 에러', // Alert 제목
            text:'호스트 번호를 확인해주세요.', // Alert 내용
            });
            return false;
        }else if(!port){
            Swal.fire({
            icon: "error", // Alert 타입
            title: '<b style="color:red;">포트</b> 에러', // Alert 제목
            text:'포트 번호을 입력해주세요', // Alert 내용
            });
            return false;
        }else if(!regPort.test(port)){
            Swal.fire({
                icon: "error", // Alert 타입
                title: '<b style="color:red;">포트번호</b> 에러', // Alert 제목
                text:'포트 번호를 확인해주세요.', // Alert 내용
                });
                return false;
        }else if(!id){
            Swal.fire({
            icon: "error", // Alert 타입
            title: '<b style="color:red;">사용자 아이디</b> 에러', // Alert 제목
            text:'아이디을 입력해주세요', // Alert 내용
            });
            return false;
        }else if(!pwd){
            Swal.fire({
            icon: "error", // Alert 타입
            title: '<b style="color:red;">비밀번호</b> 에러', // Alert 제목
            text:'비밀번호을 입력해주세요', // Alert 내용
            });
            return false;
        };

        var params = {
            'db' : db,
            'name' : name,
            'host' : host,
            'port' : port,
            'id' : id,
            'pwd' : pwd
        };
        $.ajax({
                type : "POST",
                url : "/api/setting/testconnection_api/",
                data : params,
                beforeSend: function() {
                    $('html').css("cursor","wait");
                },
               complete: function() {
                    $('html').css("cursor","auto");
                },
                success : function(res){
                    if(res.status == 200){
                        $("#savebtn").addClass("settingBtn")
                        $("#savebtn").attr("disabled", false)
                        const Toast = Swal.mixin({
                            toast: true,
                            position: 'center-center',
                            showConfirmButton: false,
                            timer: 3000,
                            timerProgressBar: true,
                            didOpen: (toast) => {
                                toast.addEventListener('mouseenter', Swal.stopTimer)
                                toast.addEventListener('mouseleave', Swal.resumeTimer)
                            }
                        })

                        Toast.fire({
                            icon: 'success',
                            title: '연결이 확인 되었습니다. 저장버튼을 눌러 저장 해주세요'
                        })

                    }else{
                    Swal.fire({
                    icon: "error", // Alert 타입
                    title: '<b style="color:red;">연결</b> 에러', // Alert 제목
                    text:'올바른 연결정보를 입력하세요', // Alert 내용
                });
                    }

                    
                },
                error : function(XMLHttpRequest, textStatus, errorThrown){
                    Swal.fire({
                    icon: "error", // Alert 타입
                    title: '<b style="color:red;">연결</b> 에러', // Alert 제목
                    text:'올바른 연결정보를 입력하세요', // Alert 내용
                });
                }
            });
    }
    function db_update(dbname, dbhost, dbport){
        window.open("../setting_DF/"+dbname + "/" + dbhost + "/" + dbport, "physicalServer", "width=1200, height=500", 'resizeable');
        window.resizeTo(1200,500)
    }
</script>
{% endblock %}